<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @seminar_section.section %>
</p>

<%= link_to 'Edit', edit_seminar_section_path(@seminar_section) %> |
<%= link_to 'Back', seminar_sections_path %>
