
<div class="row">
	<h1>Контакты</h1>
	<p>АНО «Институт развития современных образовательных технологий»</p>

	<p>	<strong>Web:</strong> <%= link_to "Профессиональные семинары и бизнес-классы ИРСОТ", "http://ruseminar.ru" %><br/>

		<strong>E-mail:</strong> <%= mail_to "support AT irsot.ru", "support AT irsot.ru", subject: "Mobile Ruseminar support" %><br/>

		<strong>Тел:</strong> +7 (495) 662-30-98
	</p>
</div>
