<div class="row">
	<div class="col-md-8">
		<h4>Мобильный каталог</h4>
		<p>
		Электронная версия каталога образовательных программ ИРСОТ для iPhone, iPad и iPod touch</p>

		<p>Современный электронный формат каталога даст вам дополнительные удобства:

		<ul>
			<li>каталог образовательных мероприятий все время с вами;</li>
			<li>вы можете использовать каталог уже сегодня, не дожидаясь печатного издания по почте;</li>
			<li>оперативно получать обновления каталога по мере его изменения;</li>
			<li>получать информацию о лекторско-преподавательском составе;</li>
			<li>отправить заявку на участие в образовательном мероприятии прямо из каталога;</li>
			<li>сохраняя образовательные мероприятия, сформировать персональный каталог, разослать информацию сотрудникам компании или коллегам;</li>
			<li>добавлять мероприятия в календарь с возможностью установки напоминаний;</li>
			<li>получать новости и информацию о существующих услугах и сервисах.</li>
		</ul>
		Каталог поддерживает синхронизацию сохраненных образовательных мероприятий между устройствами с помощью iCloud.
		</p>
       <%= link_to image_tag('Available_on_the_App_Store_Badge_RU_135x40.png'), "https://itunes.apple.com/ru/app/seminary-irsot/id626739626?l=en&mt=" %>

	</div>
<!-- 	<div class="col-md-4">
		<h4>Новости</h4>
	</div> -->
</div>
