<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @seminar_type.type %>
</p>

<%= link_to 'Edit', edit_seminar_type_path(@seminar_type) %> |
<%= link_to 'Back', seminar_types_path %>
